<div class="menu">
  <!-- <nav class="social-icons">
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %}
  </nav> -->
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      <h3 class="menu-item"><a
        href="{{ item.url }}"
        class="{% if item.url == page.url %}active{% endif %}">
        {{ item.name }}
      </a></h3>
    {% endfor %}
  </nav>
</div>
